html {
    background-color: #222222;
}
.home-background {
    background-image: url("home-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.standard-background {
    background-image: url("standard-background.jpg");
    background-size: 100vw 100vh;
    height: 100vh;
}

button {
    margin: 10px;
}

.navbar {
    border-radius: 5px;
}

.container-fluid {
    padding: 2px;
}

.jumbotron {
    max-width: 500px;
    margin: 15vh auto;
}

.wrapper {
    padding: 10px;
    margin: auto;
    max-width: 420px;
    border-radius: 15px;
    margin-top: 20vh;
}

.custom-wide {
    padding: 10px;
    margin: auto;
    margin-top: 10vh;
    max-width: 800px;
    border-radius: 15px
}

.signup {
    margin-top: 5vh;
}